.izquierda{
    float: left;
    height: 150px;
    width: 200px;
    padding: 1px;
    background-color: aquamarine;
    border-radius: 10px;
    margin: 10px;
}
.derecha{
    margin: 10px;
    float: right;
    height: 150px;
    width: 200px;
    padding: 1px;
    background-color: aquamarine;
    border-radius: 10px;
    ;
}